body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-input {
  position: relative;
  display: flex;
  width: 300px;
  justify-self: center;
  margin-bottom: 50px;

  & input {
    position: inherit;
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #fff;
    
    &:focus{
      border: 2px solid rgb(238, 18, 18);
      color: #00b3ff;
    }
  } 

  & label {
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 15px;
    user-select: none;
    background: #fff;
    padding: 0 5px;
  }

  & input:focus + label,
  input:not(:placeholder-shown) + label {
    top: -6px;
    font-size: 12px;
  }
}